
* {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf)
         url(fonts/Montserrat-VariableFont_wght.ttf);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
        width: 100%;              
        max-width: 1000px;       
        margin: 0 auto;          
        padding: 20px 0;       
}

/* header */
.header {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: auto auto;       
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    gap: 0.5rem;
}

.logo img {
    width: 85px;
    justify-self: start;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    justify-self: end;
    grid-column: 2 / 4;
    margin-bottom: 5px;
}

.btn-outline {
    text-decoration: none;
    padding: 0.3rem 0.3rem;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn-outline:hover {
    background-color: #1ca2c1;
    color: #fff;
}


/* menu */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 14px;
}

.hamburger span {
    width: 33px;
    height: 5px;
    background-color: #333;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Mobilmeny */
#menu-toggle {
    display: none;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 10;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0;
    font-weight: 500;
}

#menu-toggle:checked ~ .menu {
    display: flex;
}

.min-side-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color:black;
    gap: 0.5rem;
}

.min-side-link i {
    font-size: 1.5rem;
}

.min-side-desktop {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 1.4rem;
}

.min-side-desktop i {
    font-size: 1.3rem;
}

.min-side-desktop:hover {
    background-color: #1ca2c1;
    color: #fff;
}

.main-content {
    width: 100%;              
    max-width: 1000px;       
    margin: 0 auto;          
    padding: 20px 0;         
}

.booking-container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

/* hotel.html slider, brukte det jeg hadde fra forrige gang */

#slider {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 0px;
    border: 0px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
    overflow: hidden;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -120%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -250%;
}

#slide4:checked ~ #slides .inner {
    margin-left: -370%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 600%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 20%;
    max-width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#slides .slide_1 {
    background-image: url(img/beach-666122_640.jpg);
}

#slides .slide_2 {
    background-image: url(img/beach.jpg);
}

#slides .slide_3 {
    background-image: url(img/greece.jpg);
}

#slides .slide_4 {
    background-image: url(img/storby.jpg);
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    z-index: 3;
    opacity: .4;
    background-color: white;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
    background: url('right-arrow.png') no-repeat center center;
    background-size: contain;
    float: right;
    margin: 30px 5px 0 0;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 10px solid #fff;
}

#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
    background: url('left-arrow.png') no-repeat center center;
    background-size: contain;
    float: left;
    margin: 30px 5px 0 0px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1f1f1;
    border: 10px solid #fff;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
}

#slider .icon {
    position: absolute;
    top: 155px; 
    right: 5px; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 10; 
    cursor: pointer;
    z-index: 3;
}

#slider .icon i {
    color: red; 
    font-size: 15px; 
    transition: transform 0.3s ease, color 0.3s ease;
}

#slider .icon:hover i {
    transform: scale(1.2); 
    color: darkred; 
}

/* Tabs - hotel */

.tabs-container-hotel {
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px solid white; 
    display: flex;
    margin-left: 5px;
    padding-bottom: 5px;
}


.tabs-hotel {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}


.tab-hotel a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}


.tab-hotel.active a {
    color: #007baf; 
}

.tab-hotel.active a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #007baf; 
    border-radius: 1px;
}


.tab-hotel a:hover {
    color: #007baf;
}

/* review- hotel */

#review {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: left;
}

#review h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#review .rating {
    margin-bottom: 10px;
}

#review .rating .star {
    font-size: 20px;
    color: gold;
}


#review .score {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#review .score-box {
    background-color: #008000; 
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

#review .score-text {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

#review .reviews-link {
    font-size: 14px;
    color: #0071c2; 
    text-decoration: none;
}

#review .reviews-link:hover {
    text-decoration: underline;
}

/* facilities- hotel */

#facilities {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: left;
}

#facilities h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#facilities p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.facilities-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.facilities-list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.facilities-list li i {
    font-size: 16px;
    color: #444;
    margin-right: 10px;
}

.facilities-link {
    font-size: 14px;
    color: #0071c2;
    text-decoration: none;
}

.facilities-link:hover {
    text-decoration: underline;
}

/* explore- hotel */

#google-maps {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: left;
}

#google-maps h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#google-maps .map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56%; 
}

#google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* room- hotel */

#room-selection {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    position: relative; 
    background: #f9f9f9;
    min-height: 1000px;  
}

#room-selection h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sticky-price {
    position: sticky; 
    bottom: 0; 
    z-index: 10; 
    background-color: #fff; 
    padding: 10px 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    width: 100%; 
}

.sticky-price .price-details {
    display: flex;
    flex-direction: column;
}

.sticky-price .price-details strong {
    font-size: 16px; 
    font-weight: bold;
    color: #000;
}

.sticky-price .price-details span {
    font-size: 12px; 
    color: #555;
}


.sticky-price .select-room {
    background-color: #0071c2;
    color: #fff;
    padding: 8px 15px; 
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.sticky-price .select-room:hover {
    background-color: #005999;
}


.room-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.room-grid li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column; 
}

.room-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 15px; 
}

.room-grid h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.room-grid p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
    line-height: 1.5; 
}

.room-grid .score-box {
    display: inline-block;
    background-color: #008000; 
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px; 
}

.room-grid .reviews {
    color: #0071c2; 
    font-size: 12px;
}

.room-grid .price {
    font-size: 23px;
    font-weight: bold;
    color: #000;
    margin: 10px 0; 
}

.room-grid .price-details {
    margin-top: auto; 
}

/* order.html */

.head-order {
    overflow-x: auto; 
    background-color: #008dbd; 
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
    border-radius: 15px;
}


.head-order ul {
    display: flex;
    list-style: none;

}


.head-order li {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0; 
}


.head-order a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}


.head-order li::after {
    content: '';
    display: inline-block;
    background-image: url('right-arrow.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px; 
    height: 25px; 
    margin-left: 5px; 
}


.head-order li:last-child::after {
    display: none;
}


.head-order a.active {
    font-weight: bold;
    color: #fff;
}


.head-order a:hover {
    background-color: #0071c2;
}

.action-order {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.action-order .right-arrow {
    font-size: 19px; 
}

.popup-checkbox {
    display: none; 
}

.popup-checkbox:checked + .travel-card {
    display: block; 
}


.travel-card {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none; 
}


.travel-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.travel-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: black;
}

.travel-info {
    text-align: left;
    padding: 10px 20px;
    color: black;
    font-size: 0.9em;
}

.travel-info .stars {
    font-size: 1.2em;
    color: gold;
    margin-bottom: 5px;
}



.travel-info .icon {
    font-weight: bold;
    margin-right: 5px;
    font-size: 1.3rem;
}

.travel-price {
    text-align: left;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
}

.travel-price .old-price {
    text-decoration: line-through;
    color: black;
}

.travel-price .new-price {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}


/* form */

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fff;
    max-width: 700px;
    margin: 0 auto;
    font-weight: bold;
}


.date-label {
    font-size: 0.9em;
    font-weight: normal;
    color: black;
    display: block; 
    margin-bottom: 10px; 
}

.field-name{
    margin-top: 20px;
}


.date-inputs {
    display: flex; 
    gap: 10px; 
}

.date-input {
    width: 110px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    background-color: white;
    margin-bottom: 10px; 
    margin-top: 5px;
}

.date-input::placeholder {
    color: #aaa;
    font-size: 0.9em;
}


.date-input-voksen {
    width: 110px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    background-color: white;
    margin-bottom: 10px; 
    margin-top: -25px;
}


.date-input-voksen::placeholder {
    color: #aaa;
    font-size: 0.9em;
}



.header-form{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.field-name {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
}

.gender-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.radio-label {
    margin-right: 10px;
    font-size: 0.9em;
    color: #555;
}

.submit-button {
    display: flex; 
    justify-content: center; 
    width: 150px;
    padding: 15px;
    background-color: #f7b300;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    gap: 10px; 
}

.submit-button:hover {
    background-color: #e09d00;
}



/* index.html */
.tabs {
    display: flex;
    overflow-x: auto;
    gap: 0rem;
    margin-bottom: 1rem;
}

.tabs a {
    text-decoration: none;
    color: #252525;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tabs a.active {
    border-bottom: 2px solid black;
    font-weight: bold;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

select, input[type="date"] {
    width: auto;
    padding: 0.8rem;
    border: 1px solid black;
    color: #000;
    border-radius: 10px;
    background-color: #f9f9f9;
}

select {
    color: #000; 
    font-size: 1rem;
    appearance: none; 
}

select option {
    color: #000 !important; 
    background-color: #fff; 
}

.form-row {
    display: flex;
    gap: 1rem; 
    width: 100%;
}


.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}


button {
    background-color: yellow;
    padding: 0.5rem;      
    font-size: 1.5rem; 
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gray;
}

.promo-banner {
    width: 100%; 
    background-image: url('img/holiday-2733322_1280.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 2.5rem;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
}

.promo-content {
    background-color: #31c9f0;
    padding: 1.5rem;
    border-radius: 10px;
    color: #000;
    text-align: left;
}

.promo-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.promo-content p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.promo-content h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.promo-button {
    align-self: flex-end; 
    padding: 0.75rem 1.5rem;
    background-color: #f9c846;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10%;
}

.promo-button:hover {
    background-color: #e6b43a;
}

.offers-slider {
    display: flex;
    justify-content: flex-start; 
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.offer-card {
    flex: 0 0 90%;  
    max-width: 350px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;  
    text-align: center;
}

.offer-card:first-child {
    margin-left: 1rem;  
}

.offer-card h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.offer-card a {
    text-decoration: none;
    color: #1ca2c1;
    font-weight: bold;
    font-size: 1.1rem;
}

.offer-card a i {
    margin-left: 0.5rem;
    transition: transform 0.3s;
}

.offer-card a:hover i {
    transform: translateX(5px);
}


.image-wrapper {
    position: relative; 
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.badge {
    position: absolute;
    left: 0px;
    background-color: #1ca2c1;
    color: #fff;
    font-size: 1rem;     
    padding: 0.6rem 1.2rem; 
    border-radius: 10px 10px 10px 0;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.tips-section {
    margin-top: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.tips-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.tip-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.tip-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 1rem 0.5rem 1rem;
}

.tip-card p {
    font-size: 0.95rem;
    margin: 0 1rem 1rem 1rem;
    color: #555;
}


.tip-card a{
    display: inline-block;
    margin: 0 1rem 1rem 1rem;
    color: #1ca2c1;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #1ca2c1;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tip-card a:hover {
    color: #1ca2c1;
    border-bottom: 2px solid #1ca2c1;
}

.tip-card:hover{
    transform: translateY(-5px);
}

/* footer */

.site-footer {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 4rem 1rem;
    min-height: 100px;
}

.footer-languages-top {
    text-align: center;
    background-color: #1d1d1d;
    margin-top: 0;
    padding-top: 0;
    margin-top: -50px;
    margin-bottom: 40px;
    align-content: center;
}

.footer-languages-top a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 25px;
    display: inline-block;
}

.footer-languages-top img {
    width: 34px;
    vertical-align: middle;
}

.footer-top {
    display: block;
    text-align: center;
    gap: 1rem;
}

.footer-top h4{
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    color: white;
}

.footer-payments i {
    font-size: 2rem;     
    color: #ffffff;      
    margin: 0 10px;  
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer-payments i:hover {
    color: #1ca2c1;      
    transform: scale(1.2); /
}


.footer-newsletter a{
    display: block;
    margin-top: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-newsletter button {
    padding: 0.2rem 1rem;
    background-color: #f9c846;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: background-color 0.3 ease;
}

.footer-newsletter a:hover {
    text-decoration: underline;
}

.footer-newsletter button:hover {
    background-color: #e6b43a;
}

.footer-newsletter input{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 200px;
}

.footer-customer-service{
    text-align: left;
    width: 250px;
    margin-left: auto;
    margin-right: 0;
}

.footer-customer-service ul {
    list-style: none;
    padding: 0;
}

.footer-customer-service li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin: 0.3rem 0;
}

.footer-customer-service li a:hover {
    text-decoration: underline;
}

.footer-social a {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #1ca2c1;
}


/* Mobilvisning */
@media (max-width: 767px) {

    body, html {
        width: 100%;
    }

    .main-content {
        width: 100%;                   
    }

    .opprett-konto {
        display: none;
    }

    .min-side-link {
        background: none;
        border: none;
        padding: 0;
    }

    .min-side-desktop {
        display: none; 
    }

    .min-side-mobile {
        text-decoration: none;
        color: black;
    }

    .booking-container {
        width: 95%;
    }

    #gallery-container{
        display: none;
    }

    .tips-slider {
        display: flex;
        flex-wrap: wrap;      
        gap: 1rem;             
        overflow-x: unset;     
        justify-content: center; 
    }

    .tip-card {
        flex: 0 0 90%;        
        max-width: 100%;      
        margin-bottom: 1rem;
    }

    .image-wrapper img {
        height: auto;        
        object-fit: cover;
    }

    .footer-languages-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 1,5rem;
    }

    .footer-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }

    .site-footer h4{
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .footer-payments{
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer-payments i{
        display: inline-block;
        font-size: 2rem;
        color: white;
        margin: 0 5px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        cursor: pointer;
    }

    .footer-payments i:hover{
        color: #1ca2c1;
        transform: scale(1.2);
    }

    .footer-customer-service,
    .footer-social {
        flex: 1; 
        min-width: 45%; 
        max-width: 50%; 
        text-align: left; 
    }

    .footer-social{
        width: 100%;
        text-align: center;
    }


    .footer-newsletter{
        position: relative;
        border: 1px solid white;
        padding: 1.5rem 1rem 1rem 1rem;
        border-radius: 5px;
        text-align: left;
        width: 100%;
        max-width: 300px;
        margin-bottom: 40px;
    }

    .footer-newsletter h4 {
        position: absolute;
        top: -12px;
        left: 15px;
        background-color: #1d1d1d;
        padding: 0 5px;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
    }


    .footer-newsletter input{
        width: 70%;
        padding: 0.4rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .footer-newsletter button{
        width: auto;
        padding: 0.3rem 0.8rem;
        background-color: #f9c846;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background-color 0.3s ease;
    }

    .footer-newsletter button:hover {
        background-color: #e6b43a;
    }

    .footer-customer-service ul {
        list-style: none;
        padding: 0;
    }

    .footer-customer-service li a {
        text-decoration: none;
        color: #ffffff;
        display: block;
        margin: 0.3rem 0;
    }

    .footer-payments i {
        font-size: 1.5rem;
        margin-right: 10px;
    }

    .footer-social a {
        font-size: 1.8rem;
        margin: 0 0.5rem;
    }


}

/* Desktop */
@media (min-width: 768px) {
.hamburger {
        display: none;
    }

    .menu {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        gap: 2rem;
        grid-column: 1 / 4;
        justify-content: flex-end;
    }

    .menu a {
        padding: 0;
    }

    .menu a[href="opprett-konto.html"] {
        display: none;
    }

    .min-side-desktop {
        display: inline-block; 
    }

    .min-side-mobile {
        display: none;
    }

    /* hotel */
    #slider{
        display: none;
    }

    #masonry-left, #masonry-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
        gap: 15px; 
        max-width: 700px; 
    }


    #gallery-container {
        display: flex; 
        gap: 20px; 
        justify-content: center; 
        padding: 50px;
        background-color: #f9f9f9;
        position: relative; 
    }
    
    .icon-container {
        position: absolute; 
        top: 55px; 
        right: 55px; 
        background-color: white; 
        border-radius: 50%; 
        width: 30px; 
        height: 30px; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
        z-index: 20; 
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s; 
    }
    

    .icon-container:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
        transform: scale(1.1); 
    }
    

    .heart-icon {
        color: red; 
        font-size: 25px; 
        line-height: 1; 
    }
    

    .icon-container:hover .heart-icon {
        color: #ff5050; 
        transform: scale(1.2); 
        transition: color 0.2s, transform 0.2s; 
    }
    
    #review,
    #facilities {
    margin-right: 400px; 
    }
    #google-maps {
        margin-top: -500px; 
        margin-left: 600px; 
        max-width: 600px; 
        margin-bottom: 250px;
    }
    
    #google-maps .map-container {
        width: 100%; 
        overflow: hidden; 
    }


    .hotel-image {
        width: 100%;
        height: auto;
        border-radius: 10px; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
        object-fit: cover; 
    }
    

    #masonry-left img:nth-child(1) {
        grid-column: span 2; 
        height: 300px; 
    }
    
    #masonry-left img:nth-child(2),
    #masonry-left img:nth-child(3) {
        height: 150px; 
    }
    

    #masonry-right img:nth-child(1),
    #masonry-right img:nth-child(2) {
        height: 150px;
    }
    
    #masonry-right img:nth-child(3) {
        grid-column: span 2; 
        height: 300px; 
    }

    /* order.html */

    .order-main{
        margin-left: 500px;
    }
    
    .popup-checkbox,
    .action-order {
        display: none; 
    }

    .travel-card {
        position: static; 
        transform: none; 
        display: block; 
        width: 40%; 
        margin: 0; 
        margin-left: 450px;
        margin-top: 60px;
    }

    .section {
        margin-bottom: 20px;
        width: 45%;
        padding: 15px;
        border-radius: 5px;
        background-color: white;
        margin: 0; 
        padding: 10px; 
        margin-top: -600px;
        margin-bottom: 50px;
    }

    .contact-fields {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        margin-top: 20px; 
    }
    
    .field-group {
        display: flex;
        flex-direction: column; 
    }
    
    .field-name {
        font-size: 0.9em; 
        font-weight: bold; 
        margin-bottom: 5px; 
        color: #555; 
    }
    
    .input-field {
        width: 100%; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        font-size: 0.9em; 
        outline: none; 
    }

   .travel-card img {
    width: 100%; 
    height: auto;
    }

   .head-order{
    max-width: 85%;
    }

    .date-label {
        display: block; 
        margin-bottom: 0; 
    }

    .date-inputs {
        margin-top: 10px; 
        display: flex; 
        gap: 10px; 
    }

    .submit-button{
        margin-top: 40px;
    }
    

    /* index.html */
    .form-index {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-end;
    }

    .form-group {
        flex: 1;
        margin-bottom: 0;
        height: 40%;
    }

    .form-row {
        flex-direction: row;
        width: 35%;
    }

    button {
        width: auto;
        padding: 1rem 6rem;
        align-self: flex-end;
    }

    .btn-outline opprett-konto{
        size: 0.3rem;
    }

    .min-side-desktop{
        size: 1rem;
    }

    .booking-container {
        margin-bottom: 100px;
    }

    .promo-banner {
        gap: 3rem;
    }


    .promo-content {
        width: 40%; 
        margin-left: auto; 
        display: flex;
        flex-direction: column;
    }

    .promo-content h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .promo-content p {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .promo-content h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .promo-button {
        margin-top: 2%;        
    }

    .offers-slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        overflow: hidden;
    }

    .offer-card {
        flex: none;
        width: 100%;
        padding: 1.5rem;
        text-align: left; 
    }

    .tips-slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        overflow: hidden;
    }

    .tip-card {
        flex: none;
        max-width: 100%;
        padding-bottom: 1rem;
    }

    .image-wrapper img {
        height: 200px;
    }

    .badge {
        font-size: 1.2rem;
        padding: 1rem 1.2rem;
    }

    .site-footer {
        background-color: #1d1d1d;
        color: #ffffff;
        padding: 4rem 1rem;  
        min-height: 100px;   
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 1rem;
        text-align: left;
    }

    .footer-languages-top {
        text-align: center;
        background-color: #1d1d1d;
        margin-top: 0;      
        padding-top: 0; 
        align-content: center;
        margin-top: -50px;
        margin-bottom: 40px;
    }

    .footer-languages-top a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0 25px;
        display: inline-block;
    }

    .footer-languages-top img {
        width: 34px;
        vertical-align: middle;
    }

    .footer-top h4 {
        font-size: 1.1rem;
        margin-bottom: 0.8rem; 
        text-transform: uppercase;
        color: #ffffff;
    }

    .footer-payments i {
        font-size: 2rem;     
        color: #ffffff;      
        margin: 0 10px;  
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .footer-payments i:hover {
        color: #1ca2c1;      
        transform: scale(1.2); /
    }
    

    .footer-newsletter form {
        display: flex; 
        gap: 10px; 
        align-items: center; 
    }


    .footer-newsletter input {
        flex: 1; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        outline: none; 
    }
    
    .footer-newsletter a:hover {
        text-decoration: underline;
    }

    .footer-newsletter button {
        padding: 10px 20px; 
        background-color: #f7b300;
        border-radius: 5px; 
        color: #000; 
        cursor: pointer; 
        font-size: 1em; 
    }
    
    .footer-newsletter button:hover {
        background-color: #e6b43a; 
    }

    .footer-customer-service {
        text-align: left;
        width: 250px;  
        margin-left: auto;  
        margin-right: 0;
    }
    
    .footer-customer-service ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-customer-service li a {
        text-decoration: none;
        color: #ffffff;
        display: block;
        margin: 0.3rem 0;
    }
    
    .footer-customer-service li a:hover {
        text-decoration: underline;
    }

    .footer-social {
        text-align: right;
    }

    .footer-social a {
        color: #ffffff;
        font-size: 1.5rem;
        margin: 0 0.5rem;
        transition: color 0.3s;
    }
    
    .footer-social a:hover {
        color: #1ca2c1;
    }

}